<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Accounts</title>
	</head>
	<body>
		<h1>User Account</h1>
		<table>
	        <thead>
	            <tr>
	                <th>Account Name</th>
	                <th>Balance</th>
	                <!-- Add more table headers if needed -->
	            </tr>
	        </thead>
	        <tbody>
	            <!-- Iterate over accounts data and display each account -->
	            <tr th:each="account : ${accounts}">
	                <td th:text="${account.accountName}">Account Name</td>
	                <td th:text="${account.balance}">Balance</td>
	                <!-- Add more table cells for additional account properties -->
	            </tr>
	        </tbody>
    	</table>
    
		<h1>Create account</h1>
		<!--  Try changing the method to 'get' below -->
		<form method="post" action="accounts">
			<!-- Use the 'placeholder' tag to be more helpful -->
			<input type="text" name="accountName" placeholder="AccountName" required>
			<!-- Better to use input type="password" rather than "text" -->
			<input type="number" step="0.01" name="balance" placeholder="Balance" required>
			
			<input type="submit" value="create">
		</form>
	</body>
</html>