<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Dashboard</title>
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  		<link rel="stylesheet" href="/dashboard.css">
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  		
	</head>
	<body>
    	<input type="checkbox" id="check">
    	<label for="check">
    		<i class="fa-solid fa-bars" id="btn"></i>
    		<i class="fa-solid fa-times" id="cancel"></i>
    	</label>
    		<div id="sidebar" class="sidebar">
    	        <header>Overview</header>
    	        <ul>
    	            <li><a th:href="@{/dashboard/{id}(id=${session.user.userID})}"><i class="fa-regular fa-clipboard"></i>Dashboard</a></li>
    	            <li><a href="/dashboard/transactions"><i class="fa-solid fa-list"></i>Transactions</a></li>
    	            <li><a href="/dashboard/accounts"><i class="fa-solid fa-wallet"></i>Accounts</a></li>
    	            <li><a href="/dashboard/budgets"><i class="fa-solid fa-calculator"></i>Budgets</a></li>
                    <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a></li>
    	        </ul>
        	</div>
    	
    	<header> header </header>
    	
    	<section class="dashboard-section">
            <div class="dashboard-header">
                <h1>Hello, <span th:text="${user.firstName}">User</span>!</h1> 
                <h3>Welcome to your dashboard!</h3>
            </div>
            
            <div class="summary-container">
                <div class="account-summary">
                    <h2>Account Summary</h2>
                    <table>
                        <tbody>
                            <tr>
                                <th>Initial Balance</th>
                                <td th:text="${initialBalance}">Initial Balance</td>
                            </tr>
                            <tr>
                                <th>Amount Deducted</th>
                                <td th:text="${amountDeducted}">Amount Deducted</td>
                            </tr>
                            <tr>
                                <th>Current Balance</th>
                                <td th:text="${totalBalance}">Current Balance</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="budget-summary">
                    <h2>Budget Summary</h2>
                    <div th:if="${budgets.isEmpty()}">
                        <p>No budgets available</p>
                    </div>
                    <table th:if="${not budgets.isEmpty()}">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Budget</th>
                                <th>Actual Spending</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="budget : ${budgets}">
                                <td th:text="${budget.category.categoryName}">Category</td>
                                <td th:text="${budget.targetAmount}">Budget</td>
                                <td th:text="${budget.actualSpending}">Actual Spending</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
	</body>
</html>