<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fast Budget Web</title>
  
  	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
</head>

<body>

	<div class="back-to-home-link">
		<a href="/">
			<img src="logo-transparent.png">
		</a>
	</div>
	
  <div class="container">
    <header>
      <h1>Budget Tracker</h1>
      <p>Your personal finance at your fingertips &#128171;</p>
    </header>
    <div class="form-wrapper">
      <a href="login" class="login-btn">Login</a>
      <a href="register" class="register-btn">Register</a>
    </div>
  </div>
</body>

</html>