<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Login Page</title>
	</head>
	<body>
		<h1>Login Form</h1>
		<!--  Try changing the method to 'get' below -->
		<form method="post" action="login">
			<!-- Use the 'placeholder' tag to be more helpful -->
			<input type="text" name="username" placeholder="Username">
			<!-- Better to use input type="password" rather than "text" -->
			<input type="password" name="password" placeholder="Password">
			
			<input type="submit" value="Login">
		</form>
		
		
	</body>
</html>