<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  		<link rel="stylesheet" href="login.css">
	</head>
	
	<body>
	
		<div class="back-to-home-link">
			<a href="/">
				<img src="logo-transparent.png">
			</a>
		</div>
		
		<div class="container">
			<header>
				<h1>Login Form</h1>
			</header>
			
			<form method="post" action="login" class="login-form">
			  <div class="form-group">
			    <label for="username">Username:</label>
			    <input type="text" id="username" name="username" placeholder="Username">
			  </div>
			  
			  <div class="form-group">
			    <label for="password">Password:</label>
			    <input type="password" id="password" name="password" placeholder="Password">
			  </div>
			  
			  <div class= "error-message" th:if="${error}">
			      <p>Sorry, unrecognised username or password.</p>
			  </div>
        
              <div class= "error-message" th:if="${timeout}">
                  <p>Session timeout. Please login again.</p>
              </div>
			
			  <div class="form-submit">
			    <input type="submit" value="Login">
			  </div>
			</form>
			
			<div class="register-link">
		      <p>Don't have an account? <a href="register">Register here</a></p>
		    </div>
		</div>
	
	</body>
</html>