<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Registration Page</title>
	</head>
	<body>
		<h1>Registration Form</h1>
		<!--  Try changing the method to 'get' below -->
		<form method="post" action="register">
			<!-- Use the 'placeholder' tag to be more helpful -->
			<input type="text" name="username" placeholder="Username">
			<!-- Better to use input type="password" rather than "text" -->
			<input type="password" name="password" placeholder="Password">
			<input type="text" name="email" placeholder="Email">
			<input type="submit" value="Register">
		</form>
		
		
	</body>
</html>